:root {
  --mainBlue:#2a2a72;
  --lightBlue:#008ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Permanent Msrker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.navWrapper{
  background-color: var(--mainBlue) !important;
}


.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.drawer-link{
  color: var(--mainDark) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.project-svg{
  align-items: center;
  justify-content: center;
  flex: 1;
}

.drawer-svg{
  background-color: var(--mainBlue) !important;
}

.returnHome{
  text-decoration: none;
}

.fabpaper::-webkit-scrollbar {
  width: 1em;
}
 
.fabpaper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
}
 
.fabpaper::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--mainBlue);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--mainBlue);
  outline: 1px solid slategrey;
}


.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}